In [0]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [2]:
# Run this cell to mount your Google Drive.
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# maindata = pd.read_csv('C://Users//conne/Desktop/Part1-data.csv')

In [0]:
maindata = pd.read_csv('/content/drive/My Drive/new-dataset/Part1-data.csv')

In [7]:
maindata.head()

     pm_key       name  type  ...  weight_kg  height(cm)  Unnamed: 6
0  11252001     Olivia     1  ...         86         172         NaN
1  11252002        Ava     1  ...         76         169         NaN
2  11252003   Isabella     1  ...        118         171         NaN
3  11252004     Sophia     0  ...         71         189         NaN
4  11252005  Charlotte     1  ...         46         183         NaN

[5 rows x 7 columns]

In [0]:
# healthdata = pd.read_csv('C://Users//conne/Desktop/Part2-data.csv')

In [0]:
healthdata = pd.read_csv('/content/drive/My Drive/new-dataset/Part2-data.csv')

In [0]:
healthdata = healthdata[1:171900]

In [0]:
totaldata = maindata.merge(healthdata,on='pm_key')

In [12]:
totaldata= totaldata.drop(['Unnamed: 6'], axis=1)
totaldata.head()

     pm_key    name  type  ...   Goal        Date      Time
0  11252001  Olivia     1  ...   7600  06-01-2019  23:52:33
1  11252001  Olivia     1  ...   3872  25-02-2019  01:11:59
2  11252001  Olivia     1  ...  13220  30-01-2019  00:35:07
3  11252001  Olivia     1  ...  14059  07-04-2019  23:43:45
4  11252001  Olivia     1  ...  10790  22-03-2019  23:48:45

[5 rows x 14 columns]

In [0]:
# Using Backward elimination
## X = totaldata.iloc[:,[0,2,3,4,5,7,8,9,10,11]].values
# removing High P-Value first varible
## X = totaldata.iloc[:,[0,3,4,5,7,8,9,10,11]].values
# removing High P-Value third varible
## X = totaldata.iloc[:,[0,3,4,7,8,9,10,11]].values
# removing High P-Value four varible
## X = totaldata.iloc[:,[0,3,7,8,9,10,11]].values
# removing High P-Value Fifth varible
## X = totaldata.iloc[:,[0,3,7,8,9,11]].values
# removing High P-Value Six varible
## X = totaldata.iloc[:,[0,7,8,9,11]].values
# removing High P-Value Seven varible
## X = totaldata.iloc[:,[8,9,11]].values
# removing two variables no impact on the r-square & adj.r-square
X = totaldata.iloc[:,[8,9,11]].values

In [14]:
y = totaldata.iloc[:,[6]].values
# y.shape
X.shape

(171899, 3)

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [0]:
regressor = LinearRegression()

In [0]:
X_train,X_test,y_train,y_test = train_test_split(X , y, test_size = 0.2,random_state=0)

In [0]:
regressor.fit(X_train,y_train)
y_pred = regressor.predict(X_test)

In [19]:
y_pred

array([[6504.575071  ],
       [6018.95110539],
       [7073.70830098],
       ...,
       [5994.32740208],
       [5967.70750564],
       [7060.32781992]])

In [20]:
y_test

array([[9904],
       [4559],
       [7672],
       ...,
       [3003],
       [7470],
       [5075]])

In [0]:
# import statsmodels.formula.api as sm
import statsmodels.api as sm

In [0]:
X = np.append(arr = np.ones((171899,1)).astype(int),values = X, axis = 1)

In [0]:
regressor_OLS = sm.OLS(endog=y,exog=X).fit()

In [29]:
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.005
Model:                            OLS   Adj. R-squared:                  0.005
Method:                 Least Squares   F-statistic:                     267.0
Date:                Tue, 02 Jul 2019   Prob (F-statistic):          6.94e-173
Time:                        17:18:14   Log-Likelihood:            -1.7111e+06
No. Observations:              171899   AIC:                         3.422e+06
Df Residuals:                  171895   BIC:                         3.422e+06
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2916.4816     28.480    102.405      0.000    2860.662    2972.301
x1          2916.4816     28.480    102.405      0.000    2860.662    2972.301
x2            -0.4433      0.070     -6.327      0.000      -0.581      -0.306
x3            -9.9546      6.143     -1.621      0.105     -21.994       2.085
x4             0.1056      0.004     27.232      0.000       0.098       0.113
==============================================================================
Omnibus:                    61966.698   Durbin-Watson:                   1.339
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           227044.360
Skew:                           1.816   Prob(JB):                         0.00
Kurtosis:                       7.302   Cond. No.                     2.74e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.34e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""